<%-include("header")-%>

<h1>This is Awesome website that allows user to add their daily task and complete</h1>
<p>akljsf;kjaskfd falskdjjnf  jjsfd;kjksf sdfj sdfj  fdasjfaksjdf;ak lkfdsj akfj as</p>

<%-include("footer")-%>